.banner_image
{
    padding-top: 110px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-position: center;
    background-size: cover;
}
.banner_content
{
    padding-top: 6%;
    padding-bottom: 6%;
    position: static;
    margin-top: 7.9%;
    margin-bottom: 15%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}
footer
{
    padding-top: 10px;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
}
h1,h4
{
    font-family: 'Times New Roman';
}